# Android Studio / IntelliJ
.gradle
/local.properties
.DS_Store
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/*

# Build
/build/
/captures/
.externalNativeBuild/
.cxx/

# System files
Thumbs.db

# Other
*.log